<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Job Portal</title>
</head>
<body>
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href = "/">DreamJobs.com</a>
			</div>
			<div>
				<ul class = "nav navbar-nav">
					<li class = "active"><a href="/">Home</a></li>
					<li><a href="/seeker/new">Job-Seeker Sign Up</a></li>
					<li><a href="/jobs/new">Post Jobs</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class = "container">
		<h2>Current Jobs</h2>
		<p>All the jobs are listed here from our database to fulfill your dream</p>
		<table class="table">
			<thead>
				<tr>
					<th>Job ID</th>
					<th>Profile</th>
					<th>Description</th>
					<th>Salary</th>
					<th>Location</th>
					<th>Delete</th>
					<th>Update</th>
				</tr>
			</thead>
			<tbody>
				<% for(var iterator = 0; iterator < allJobs.length; iterator++){ %>
					<tr class="danger">
						<td><%= allJobs[iterator].id %></td>
						<td><%= allJobs[iterator].profile %></td>
						<td><%= allJobs[iterator].description %></td>
						<td><%= allJobs[iterator].salary %></td>
						<td><%= allJobs[iterator].location %></td>
						<td><input type = "button" class = "delete_btn" value = "Delete" jid = "<%= allJobs[iterator].id %>"></td>
						<td><a href="/jobs/<%= allJobs[iterator].id %>/edit">Update</a></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>




	<nav class = "navbar navbar-inverse navbar-fixed-bottom">
		<div class  = "container-fluid">
			<div class = "navbar-header">
				<p style="color:deepskyblue"> © 2015 <a href="/">DreamJobs.com</a>. All Rights Are Reserved.</p>
		</div>
		
	</nav>
</html> 
<script>
	$(document).ready(function (){
		$(".delete_btn").click(function(){
			var jobID = $(this).attr("jid");
			//alert("hello1*****"+jobID);
			$.ajax({
				method: "DELETE",
				url: "/jobs/" +jobID,
				success: function(msg){
					if(msg === "Success"){
						alert("Deleted Successfully");
					}
					else{
						alert("Error try again");
					}
					window.location.replace("http://localhost:1337/jobs");
				}
			});
		});
	});

</script>