<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Job Portal</title>
</head>
<body>
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href = "/">DreamJobs.com</a>
			</div>
			<div>
				<ul class = "nav navbar-nav">
					<li class = "active"><a href="/">Home</a></li>
					<li><a href="/seeker/new">Job-Seeker Sign Up</a></li>
					<li><a href="/jobs/new">Post Jobs</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class = "container">
		<h2>Current Seekers</h2>
		<p>All the seekers that our registered with us and looking for their dream jobs are listed below</p>
		<table class = "table">
			<thead>
				<tr>
					<th>Seeker ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Qualification</th>
					<th>Expected Salary</th>
					<th>Experience</th>
					<th>Delete</th>
					<th>Update</th>
					<th>Apply</th>
				</tr>
			</thead>
			<tbody>
				<% for(var iterator = 0; iterator < allSeeker.length; iterator++){ %>
					<tr class="success">
						<td><%= allSeeker[iterator].id %></td>
						<td><%= allSeeker[iterator].name %></td>
						<td><%= allSeeker[iterator].address %></td>
						<td><%= allSeeker[iterator].email %></td>
						<td><%= allSeeker[iterator].qualification %></td>
						<td><%= allSeeker[iterator].expSalary %></td>
						<td><%= allSeeker[iterator].experience %></td>
						<td><input type="button" class="delete_btn" sId="<%=allSeeker[iterator].id%>" value="Delete" ></td>
						<td><a href="/seeker/<%= allSeeker[iterator].id %>/edit">Update</a></td>
						<td><a href="/seeker/<%= allSeeker[iterator].id %>/apply">Apply</a></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<nav class = "navbar navbar-inverse navbar-fixed-bottom">
		<div class  = "container-fluid">
			<div class = "navbar-header">
				<p style="color:deepskyblue"> © 2015 <a href="/">DreamJobs.com</a>. All Rights Are Reserved.</p>
		</div>
		
	</nav>
</html> 
<script>
//	var buttonClick = function (){
	  $(document).ready(function(){
	      $(".delete_btn").click(function(){
	        var seekerId = $(this).attr("sId");
	        $.ajax({
	              method: "DELETE",
	              url: "/seeker/" +seekerId,
	              success: function(msg){
	              	if(msg === "Success"){
	              		alert("deleted successfully");
	              	}
	              	else{
	              		alert("error! try again");
	              	}
	              	window.location.replace("http://localhost:1337/seeker");
	              }
	        });
	      });
      });
	//}
    
</script>